.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.navLogo {
    font-size: 42px;
    font-weight: 500;
}

.navMenu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 50px;
}

.navContact{
    border-radius: 50px;
    padding: 5px 28px;
    background: white;
    color: #262626;
}